body,#root,.mainData{
  display:flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
}
.whitetext{
  color:white;
}
.none{
  display:none;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
}
.temp,.mainw{
  margin-top: 0;
}
.extra{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.mintemp,.maxtemp,.feeltemp,.humidity,.airquality{
  text-align: center;
  width:50%;
}
.feeltemp,.humidity,.airquality{
  width: 100%;
}
.searchdiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 45%;
  border-radius: 20px ;
  padding: 0.7% 0.1%;
  margin-top: 1%;
}
.searchdivinitial{
  background-color: #efefef;
}
.searchfinal{
  border-radius: 5px;
  background-color: #efefef;
}
.searchiconinitial{
  padding: 2%;
  background-color: white;
}
.searchiconfinal{
  padding: 2%;
  background-color: white;
  border-radius: 0 5px 5px 0;
}
.inputboxinitial{
  padding-left: 10px;
  width: 80%;
  border: none;
  background-color: white;
}
.inputboxfinal{
  padding-left: 10px;
  background-color: white;
  width: 80%;
  border: none;
  border-radius: 5px 0 0 5px;
}
.searchiconinitial:hover,.searchiconfinal:hover{
  border-width: 10px;
}
li{
  list-style: none;
}
li img{
  background-color:#efefef; 
  padding-bottom:0;
}
li button:hover{
  background-color: white;
  cursor: pointer;
}
li button{
  width: 100%;
  background-color:#efefef; 
  border: 0;
  text-align: left;
}
ol{
  margin: 1% 0 1% 0;
  padding-left: 0;
  width: 90%;
}
.lociconhovercolorchange{
  background-color: white;
}
.currentbutton{
  width: 90%;
  margin-top: 5px;
  text-align: left;
  background-color: white;
  border: none;
}
.currentbutton:hover{
  border: 2px solid black;
}
.redtxt{
  color: red;
}
.greentxt{
  color: #66FF00;
}
.yellowtxt{
  color: #FFFF00;
}
.futureForecast{
  background-color: white;
  color: black;
  min-width: 80%;
  margin: 2% 0 5% 0;
}
.futureForecastHeadingDiv{
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
}
.futureForecastHeading{
  font-weight: 700;
  font-size: 130%;
  /* margin: 0 auto; */
  margin: 0 auto;
}
.futureForecastHeadingToggler{
  margin: 1% 2% 0 0;
}
.futureForecastEntries{
  margin: 2% 0 3% 0;
}
.futureForecastEntryDiv{
  font-size: 110%;
  font-weight: 500;
}
.futureForecastEntryDivData{
  margin: 0 10%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.futureForecastEntryDivHR{
  width: 90%;
}
.futureForecastWaterDroplet{
  width: 20%;
}
@media (max-width:768px) {
  .searchdiv{
    width: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 5%;
  }
  .main{
    min-width: 100%;
  }
  .futureForecast{
    width: 90%;
  }
  .futureForecastEntryDivData{
    margin: 0 5%;
  }
}